h1 {
  color: #5f9ea0;
}

.frame {
  max-width: 800px;
  margin: 20px auto;
  padding: 10px;
  border: 2px solid #5f9ea0;
  border-radius: 5px;
  font-family: "Source Sans Pro", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
}
